<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Code Readability Action Set"
            visible="true"
            id="com.insl.readability.demo.actionSet">
         <menu
               label="Code &amp;Readability"
               id="codeReadabilityMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Start Demo"
               icon="icons/sample.gif"
               class="com.insl.readability.demo.actions.StartDemoAction"
               tooltip="Code Readability Demo"
               menubarPath="codeReadabilityMenu/codeReadability"
               toolbarPath="codeReadability"
               id="com.insl.readability.demo.actions.CodeReadabilityDemoAction">
         </action>
      </actionSet>
   </extension>

</plugin>
